$bg-color: #f3f3f3;
$bg-font-prev-color: #f9f9f9;

$text-color: #454545;
$links-color: #3180e8;
$subhead-color: #858482;

$border-inputs: #bbbbbb;
$border-layout: #d7d7d7;
$border-font-block: #ececec;
