body {
  font-size: 12px;
  background-color: $bg-color;
  margin: 0;
}

input[type=text] {
  padding: 9px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $border-inputs;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  padding-left: 32px;
}
