<md-card md-theme-watch class="md-card">
  
  <div class="md-card__prev"
       ng-style="$ctrl.fontStyle($ctrl.font)">
    AaBbCcDdEeFfGgHhIiGgKkLlNnMMOoPpQqRrSsTtUuVvWwXxYyZz
  </div>
  <div class="md-card__title" ng-init="$ctrl.importFontStyle($ctrl.font)">
    <div class="md-card__headline">{{$ctrl.font.family}}</div>
    <div class="md-card__subhead">{{$ctrl.font.variants.length}} {{$ctrl.font.variants.length === 1 ? 'Style' : 'Styles'}}</div>
  </div>

</md-card>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">

